doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="test")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='test'
        link(rel="icon" href="./simple-logo.png" type="image/x-icon")
    body
        header header
        main main
        footer footer





